:root {
  --amarilloegg: #ffcb00;
  --amarilloeggtrans: #ffcc006c;
  --fondos: rgba(255, 255, 255, 0);
}

body {
  background-image: url(/Imagenes/background.png);
  background-size: auto;
  background-color: var(--amarilloeggtrans);
}
#barra-de-nav .nav .nav-tabs{
    width: 5%;
    height: auto;
}
.btn .btn-outline-warning .boton {
  background-color: var(--amarilloegg);
  border-color: var(--amarilloegg);
}
.nav-item .logo {
  width: 3rem;
  height: auto;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}
.navegador{
  background-color: rgb(255, 255, 255);
  margin-bottom: 1rem;
}
.agregarNoticia{
  float: right;
  margin-top: 0.3rem;
  margin-left: 0.3rem;
}

.btn-link {
  --bs-btn-color: black;
  --bs-btn-hover-color: black;
  --bs-btn-active-border-color: var(--amarilloegg);
  text-decoration: none;
}
#noticiass{
  width: 80rem;
  height: 80rem;
  margin: auto;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  display: flex;
  flex-direction: column;
}

#noticiass .card{
  margin: auto;
  margin-bottom: 3rem;
  border: 3px solid rgba(0, 0, 0, 0.309);
  width: 45rem;
  height: auto;
}

.card-img-top{
  width: 44.7rem;
  height: auto;
  max-height: 40.7rem;
  object-fit: contain;
  border: solid var(--amarilloegg);
}

